-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sawit_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `absensi`
--

DROP TABLE IF EXISTS `absensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `absensi` (
  `id_absensi` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_user` bigint(20) unsigned NOT NULL,
  `tanggal` date NOT NULL,
  `status_kehadiran` enum('Hadir','Izin','Sakit','Alpha','Libur_Agama') NOT NULL,
  `jam_masuk` time DEFAULT NULL,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_absensi`),
  KEY `absensi_id_user_foreign` (`id_user`),
  CONSTRAINT `absensi_id_user_foreign` FOREIGN KEY (`id_user`) REFERENCES `users` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `absensi`
--

LOCK TABLES `absensi` WRITE;
/*!40000 ALTER TABLE `absensi` DISABLE KEYS */;
INSERT INTO `absensi` VALUES (1,10,'2025-12-01','Hadir','07:00:00',NULL,'2025-12-01 01:58:53','2025-12-01 03:37:18'),(2,9,'2025-12-01','Izin','00:00:00',NULL,'2025-12-01 03:36:58','2025-12-01 03:36:58');
/*!40000 ALTER TABLE `absensi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blok_ladang`
--

DROP TABLE IF EXISTS `blok_ladang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `blok_ladang` (
  `id_blok` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama_blok` varchar(50) NOT NULL,
  `kategori` enum('dekat','jauh') NOT NULL,
  `harga_upah_per_kg` decimal(10,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_blok`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blok_ladang`
--

LOCK TABLES `blok_ladang` WRITE;
/*!40000 ALTER TABLE `blok_ladang` DISABLE KEYS */;
INSERT INTO `blok_ladang` VALUES (1,'A','dekat',200.00,'2025-11-25 10:32:15','2025-11-25 10:32:15'),(2,'B','dekat',200.00,'2025-11-25 10:32:15','2025-11-25 10:32:15'),(3,'C','jauh',220.00,'2025-11-25 10:32:15','2025-11-25 10:32:15'),(4,'D','jauh',220.00,'2025-11-25 10:32:15','2025-11-25 10:32:15');
/*!40000 ALTER TABLE `blok_ladang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `laporan_masalah`
--

DROP TABLE IF EXISTS `laporan_masalah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `laporan_masalah` (
  `id_masalah` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_user` bigint(20) unsigned NOT NULL,
  `tanggal` date NOT NULL,
  `jenis_masalah` enum('Cuaca Buruk','Kemalingan','Serangan Hama','Kerusakan Alat','Lainnya') NOT NULL,
  `deskripsi` text NOT NULL,
  `tindakan` text DEFAULT NULL,
  `status_masalah` enum('dilaporkan','dalam_penanganan','selesai') NOT NULL DEFAULT 'dilaporkan',
  `ditangani_oleh` bigint(20) unsigned DEFAULT NULL,
  `tanggal_selesai` datetime DEFAULT NULL,
  `tingkat_keparahan` enum('ringan','sedang','berat') NOT NULL DEFAULT 'ringan',
  `diteruskan_ke_owner` tinyint(1) NOT NULL DEFAULT 0,
  `ditandai_oleh` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_masalah`),
  KEY `laporan_masalah_id_user_foreign` (`id_user`),
  KEY `laporan_masalah_ditangani_oleh_foreign` (`ditangani_oleh`),
  KEY `laporan_masalah_ditandai_oleh_foreign` (`ditandai_oleh`),
  CONSTRAINT `laporan_masalah_ditandai_oleh_foreign` FOREIGN KEY (`ditandai_oleh`) REFERENCES `users` (`id_user`),
  CONSTRAINT `laporan_masalah_ditangani_oleh_foreign` FOREIGN KEY (`ditangani_oleh`) REFERENCES `users` (`id_user`),
  CONSTRAINT `laporan_masalah_id_user_foreign` FOREIGN KEY (`id_user`) REFERENCES `users` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `laporan_masalah`
--

LOCK TABLES `laporan_masalah` WRITE;
/*!40000 ALTER TABLE `laporan_masalah` DISABLE KEYS */;
INSERT INTO `laporan_masalah` VALUES (1,12,'2025-12-01','Serangan Hama','-','sudah di kerjakan','selesai',11,'2025-12-01 08:25:46','sedang',1,12,'2025-12-01 01:25:20','2025-12-01 01:25:46'),(2,12,'2025-12-01','Cuaca Buruk','kebanjiran sawit',NULL,'dilaporkan',NULL,NULL,'berat',1,12,'2025-12-01 01:44:18','2025-12-01 01:44:18'),(3,10,'2025-12-01','Serangan Hama','yaaa gitula kan masalahnya','uiiiiiiiiiiiiiiiiiiiiiiiiiii','selesai',12,'2025-12-01 10:32:05','ringan',0,NULL,'2025-12-01 02:47:36','2025-12-01 03:32:05');
/*!40000 ALTER TABLE `laporan_masalah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `panen_harian`
--

DROP TABLE IF EXISTS `panen_harian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `panen_harian` (
  `id_panen` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_user` bigint(20) unsigned NOT NULL,
  `id_blok` bigint(20) unsigned NOT NULL,
  `tanggal` date NOT NULL,
  `jumlah_kg` decimal(10,2) NOT NULL,
  `jenis_buah` enum('buah_segar','buah_gugur') NOT NULL,
  `harga_upah_per_kg` decimal(10,2) NOT NULL,
  `total_upah` decimal(12,2) NOT NULL,
  `status_panen` enum('draft','diverifikasi','dibayar') NOT NULL DEFAULT 'draft',
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_panen`),
  KEY `panen_harian_id_user_foreign` (`id_user`),
  KEY `panen_harian_id_blok_foreign` (`id_blok`),
  CONSTRAINT `panen_harian_id_blok_foreign` FOREIGN KEY (`id_blok`) REFERENCES `blok_ladang` (`id_blok`),
  CONSTRAINT `panen_harian_id_user_foreign` FOREIGN KEY (`id_user`) REFERENCES `users` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `panen_harian`
--

LOCK TABLES `panen_harian` WRITE;
/*!40000 ALTER TABLE `panen_harian` DISABLE KEYS */;
INSERT INTO `panen_harian` VALUES (3,12,4,'2025-12-01',100.00,'buah_segar',200.00,20000.00,'draft','-','2025-12-01 00:54:52','2025-12-01 00:54:52'),(4,12,1,'2025-12-01',100.00,'buah_gugur',203.00,20300.00,'draft','-','2025-12-01 00:55:13','2025-12-01 00:55:13');
/*!40000 ALTER TABLE `panen_harian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  KEY `password_reset_tokens_email_index` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pemasukan`
--

DROP TABLE IF EXISTS `pemasukan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pemasukan` (
  `id_pemasukan` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `sumber_pemasukan` enum('penjualan_buah','lainnya') NOT NULL DEFAULT 'penjualan_buah',
  `total_pemasukan` decimal(12,2) NOT NULL,
  `keterangan` varchar(255) DEFAULT NULL,
  `id_user_pencatat` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_pemasukan`),
  KEY `pemasukan_id_user_pencatat_foreign` (`id_user_pencatat`),
  CONSTRAINT `pemasukan_id_user_pencatat_foreign` FOREIGN KEY (`id_user_pencatat`) REFERENCES `users` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pemasukan`
--

LOCK TABLES `pemasukan` WRITE;
/*!40000 ALTER TABLE `pemasukan` DISABLE KEYS */;
INSERT INTO `pemasukan` VALUES (1,'2025-12-01','penjualan_buah',100000.00,'-',12,'2025-12-01 01:24:27','2025-12-01 01:24:27');
/*!40000 ALTER TABLE `pemasukan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengeluaran`
--

DROP TABLE IF EXISTS `pengeluaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengeluaran` (
  `id_pengeluaran` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `jenis_pengeluaran` enum('pupuk','transportasi','perawatan','gaji','lainnya') NOT NULL,
  `total_biaya` decimal(12,2) NOT NULL,
  `keterangan` text DEFAULT NULL,
  `id_user_pencatat` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_pengeluaran`),
  KEY `pengeluaran_id_user_pencatat_foreign` (`id_user_pencatat`),
  CONSTRAINT `pengeluaran_id_user_pencatat_foreign` FOREIGN KEY (`id_user_pencatat`) REFERENCES `users` (`id_user`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengeluaran`
--

LOCK TABLES `pengeluaran` WRITE;
/*!40000 ALTER TABLE `pengeluaran` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengeluaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengeluaran_gaji`
--

DROP TABLE IF EXISTS `pengeluaran_gaji`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengeluaran_gaji` (
  `id_gaji` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_pengeluaran` bigint(20) unsigned NOT NULL,
  `id_user` bigint(20) unsigned NOT NULL,
  `periode` varchar(20) NOT NULL,
  `total_gaji` decimal(12,2) NOT NULL,
  `tanggal_generate` datetime NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_gaji`),
  KEY `pengeluaran_gaji_id_pengeluaran_foreign` (`id_pengeluaran`),
  KEY `pengeluaran_gaji_id_user_foreign` (`id_user`),
  CONSTRAINT `pengeluaran_gaji_id_pengeluaran_foreign` FOREIGN KEY (`id_pengeluaran`) REFERENCES `pengeluaran` (`id_pengeluaran`) ON DELETE CASCADE,
  CONSTRAINT `pengeluaran_gaji_id_user_foreign` FOREIGN KEY (`id_user`) REFERENCES `users` (`id_user`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengeluaran_gaji`
--

LOCK TABLES `pengeluaran_gaji` WRITE;
/*!40000 ALTER TABLE `pengeluaran_gaji` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengeluaran_gaji` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengeluaran_perawatan`
--

DROP TABLE IF EXISTS `pengeluaran_perawatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengeluaran_perawatan` (
  `id_perawatan` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_pengeluaran` bigint(20) unsigned NOT NULL,
  `jenis_perawatan` varchar(100) NOT NULL,
  `biaya` decimal(12,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_perawatan`),
  KEY `pengeluaran_perawatan_id_pengeluaran_foreign` (`id_pengeluaran`),
  CONSTRAINT `pengeluaran_perawatan_id_pengeluaran_foreign` FOREIGN KEY (`id_pengeluaran`) REFERENCES `pengeluaran` (`id_pengeluaran`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengeluaran_perawatan`
--

LOCK TABLES `pengeluaran_perawatan` WRITE;
/*!40000 ALTER TABLE `pengeluaran_perawatan` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengeluaran_perawatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengeluaran_pupuk`
--

DROP TABLE IF EXISTS `pengeluaran_pupuk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengeluaran_pupuk` (
  `id_pupuk` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_pengeluaran` bigint(20) unsigned NOT NULL,
  `jenis_pupuk` varchar(100) NOT NULL,
  `jumlah` decimal(10,2) NOT NULL,
  `harga_satuan` decimal(12,2) NOT NULL,
  `total_harga` decimal(12,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_pupuk`),
  KEY `pengeluaran_pupuk_id_pengeluaran_foreign` (`id_pengeluaran`),
  CONSTRAINT `pengeluaran_pupuk_id_pengeluaran_foreign` FOREIGN KEY (`id_pengeluaran`) REFERENCES `pengeluaran` (`id_pengeluaran`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengeluaran_pupuk`
--

LOCK TABLES `pengeluaran_pupuk` WRITE;
/*!40000 ALTER TABLE `pengeluaran_pupuk` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengeluaran_pupuk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengeluaran_transportasi`
--

DROP TABLE IF EXISTS `pengeluaran_transportasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengeluaran_transportasi` (
  `id_transport` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_pengeluaran` bigint(20) unsigned NOT NULL,
  `tujuan` varchar(100) NOT NULL,
  `biaya` decimal(12,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_transport`),
  KEY `pengeluaran_transportasi_id_pengeluaran_foreign` (`id_pengeluaran`),
  CONSTRAINT `pengeluaran_transportasi_id_pengeluaran_foreign` FOREIGN KEY (`id_pengeluaran`) REFERENCES `pengeluaran` (`id_pengeluaran`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengeluaran_transportasi`
--

LOCK TABLES `pengeluaran_transportasi` WRITE;
/*!40000 ALTER TABLE `pengeluaran_transportasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengeluaran_transportasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id_user` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `nama_lengkap` varchar(100) NOT NULL,
  `role` enum('owner','admin','karyawan') NOT NULL DEFAULT 'karyawan',
  `status_aktif` tinyint(1) NOT NULL DEFAULT 1,
  `no_telepon` varchar(20) DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `tanggal_bergabung` date DEFAULT NULL,
  `id_blok` bigint(20) unsigned DEFAULT NULL,
  `bisa_input_panen` tinyint(1) NOT NULL DEFAULT 1,
  `bisa_input_absen` tinyint(1) NOT NULL DEFAULT 1,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-01 22:01:44
