-- Function untuk cek apakah telat
DELIMITER $$

CREATE FUNCTION fn_cek_telat(
    p_jam_masuk TIME,
    p_jam_standar TIME DEFAULT '07:00:00'
)
RETURNS VARCHAR(20)
DETERMINISTIC
BEGIN
    DECLARE v_status VARCHAR(20);
    
    IF p_jam_masuk IS NULL THEN
        RETURN 'Tidak Ada';
    END IF;
    
    IF TIME_TO_SEC(p_jam_masuk) > TIME_TO_SEC(p_jam_standar) THEN
        SET v_status = 'Telat';
    ELSE
        SET v_status = 'Tepat Waktu';
    END IF;
    
    RETURN v_status;
END$$

-- Function untuk hitung menit telat
CREATE FUNCTION fn_hitung_menit_telat(
    p_jam_masuk TIME,
    p_jam_standar TIME DEFAULT '07:00:00'
)
RETURNS INT
DETERMINISTIC
BEGIN
    IF p_jam_masuk IS NULL THEN
        RETURN 0;
    END IF;
    
    RETURN GREATEST(0, TIME_TO_SEC(p_jam_masuk) - TIME_TO_SEC(p_jam_standar)) / 60;
END$$

-- Stored Procedure untuk absensi
CREATE PROCEDURE sp_proses_absen(
    IN p_id_user BIGINT,
    IN p_status VARCHAR(20),
    IN p_jam_masuk TIME,
    IN p_keterangan TEXT
)
BEGIN
    DECLARE v_today DATE;
    DECLARE v_menit_telat INT;
    DECLARE v_keterangan_final TEXT;
    
    SET v_today = CURDATE();
    
    -- Cek sudah absen (trigger sudah ada, tapi kita validasi lagi)
    IF EXISTS (SELECT 1 FROM absensi WHERE id_user = p_id_user AND tanggal = v_today) THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'User sudah absen hari ini!';
    END IF;
    
    -- Hitung menit telat jika hadir
    IF p_status = 'Hadir' AND p_jam_masuk IS NOT NULL THEN
        SET v_menit_telat = fn_hitung_menit_telat(p_jam_masuk);
        
        IF v_menit_telat > 0 THEN
            SET v_keterangan_final = CONCAT(
                COALESCE(p_keterangan, ''),
                IF(p_keterangan IS NOT NULL, ' - ', ''),
                'Telat ', v_menit_telat, ' menit'
            );
        ELSE
            SET v_keterangan_final = p_keterangan;
        END IF;
    ELSE
        SET v_keterangan_final = p_keterangan;
    END IF;
    
    -- Insert absensi
    INSERT INTO absensi (id_user, tanggal, status_kehadiran, jam_masuk, keterangan, created_at, updated_at)
    VALUES (p_id_user, v_today, p_status, p_jam_masuk, v_keterangan_final, NOW(), NOW());
    
    -- Update statistik user (jika ada field di tabel user)
    -- UPDATE users SET total_hari_hadir = ... WHERE id_user = p_id_user
    
    -- Log aktivitas
    INSERT INTO log_aktivitas (id_user, aksi, tabel_terkait, deskripsi)
    VALUES (p_id_user, 'ABSEN_MASUK', 'absensi', 
            CONCAT('Absensi ', p_status, ' pada ', DATE_FORMAT(NOW(), '%d/%m/%Y %H:%i')));
    
    -- Notifikasi untuk admin jika ada kejadian khusus
    IF p_status IN ('Sakit', 'Izin') OR v_menit_telat > 30 THEN
        INSERT INTO notifikasi (id_user, judul, pesan, tipe)
        SELECT id_user,
               'Absensi Karyawan',
               CONCAT((SELECT nama_lengkap FROM users WHERE id_user = p_id_user),
                      ' absen dengan status: ', p_status,
                      IF(v_menit_telat > 0, CONCAT(' (Telat ', v_menit_telat, ' menit)'), '')),
               CASE 
                  WHEN p_status = 'Sakit' THEN 'warning'
                  WHEN v_menit_telat > 30 THEN 'danger'
                  ELSE 'info'
               END
        FROM users WHERE role IN ('admin', 'owner');
    END IF;
END$$

-- View untuk rekap absensi
CREATE OR REPLACE VIEW v_rekap_absensi AS
SELECT 
    a.id_user,
    u.nama_lengkap,
    DATE_FORMAT(a.tanggal, '%Y-%m') as bulan,
    COUNT(*) as total_hari,
    SUM(CASE WHEN a.status_kehadiran = 'Hadir' THEN 1 ELSE 0 END) as hadir,
    SUM(CASE WHEN a.status_kehadiran = 'Izin' THEN 1 ELSE 0 END) as izin,
    SUM(CASE WHEN a.status_kehadiran = 'Sakit' THEN 1 ELSE 0 END) as sakit,
    SUM(CASE WHEN a.status_kehadiran = 'Alpha' THEN 1 ELSE 0 END) as alpha,
    SUM(CASE WHEN a.status_kehadiran = 'Libur_Agama' THEN 1 ELSE 0 END) as libur,
    ROUND(
        (SUM(CASE WHEN a.status_kehadiran = 'Hadir' THEN 1 ELSE 0 END) * 100.0) / 
        NULLIF(COUNT(*), 0), 2
    ) as persen_hadir,
    AVG(fn_hitung_menit_telat(a.jam_masuk)) as rata_rata_telat_menit,
    SUM(CASE WHEN fn_cek_telat(a.jam_masuk) = 'Telat' THEN 1 ELSE 0 END) as jumlah_telat
FROM absensi a
JOIN users u ON a.id_user = u.id_user
GROUP BY a.id_user, u.nama_lengkap, DATE_FORMAT(a.tanggal, '%Y-%m');

DELIMITER ;